#!/usr/bin/make -f

#export DH_VERBOSE=1

%:
	dh $@  --with autotools-dev

##configure fails (if handed over correctly - which is not done yet), if set (reason unknown)
#CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
#CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
#CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
#LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

#On ARCH AMD64 -fPIC to build XXX.so. And somehow configure --enable-shared is not working properly...
ifeq ($(shell dpkg-architecture -qDEB_HOST_ARCH), amd64)
       CFLAGS += -fPIC
       CXXFLAGS += -fPIC
endif

#Configure PJSip options
override_dh_auto_clean:

override_dh_auto_configure:
	#./configure is buggy as parameters are not handed over to ./aconfigure, which is the new configure-script ("") is missing.
	dh_auto_configure -- CFLAGS=$(CFLAGS) CXXFLAGS=$(CXXFLAGS) --with-external-pa

override_dh_auto_build:
	dh_auto_build --

	echo "Building language bindings for PJSUA2 using -swig."
	cd pjsip-apps/src/swig && make

	echo "Building pjsip/samples/vidgui"
	cd pjsip-apps/src/vidgui && make -f pj-pkgconfig.mak && qmake-qt4 && make

override_dh_install:
	echo "Build and Install python-pjsua."
	cd pjsip-apps/src/python/ && python setup.py install --install-layout=deb --root=$(CURDIR)/debian/tmp

	echo "Install PJSUA2 swing bindings."
	cd pjsip-apps/src/swig/python && python setup.py install --install-layout=deb --root=$(CURDIR)/debian/tmp
#	cd pjsip-apps/src/swig/python && python3 setup.py install --install-layout=deb --root=$(CURDIR)/debian/tmp
#	cd pjsip-apps/src/swig/python && make install #Not working

	echo "Install pjsip samples (1)."
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/libpjsip-samples/
	cp -a -r $(CURDIR)/pjsip-apps/bin/samples/*/* $(CURDIR)/debian/tmp/usr/lib/libpjsip-samples/

	echo "Install pjsip samples (2): vidgui."
	cp -a -r $(CURDIR)/pjsip-apps/src/vidgui/vidgui $(CURDIR)/debian/tmp/usr/lib/libpjsip-samples/

	dh_install --
